
.container {
    display: flex;
}

.main {
    flex: 3;
}

.sidebar {
    flex: 1;
    padding: 20px;
    background-color: #f9f9f9;
}

.sidebar h3 {
    color: #333;
}

.links {
    list-style: none;
    padding: 0;
}

.links li {
    margin-bottom: 10px;
}

.links a {
    text-decoration: none;
    color: #555;
}

.links a:hover {
    color: #000;
}
