.container {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    width: 100%;
    height: 250px; /* Adjust the height as needed */
    background-image: url('images/header_short.jpg'); /* Replace with your image file */
    background-size: cover;
    background-position: center;
}

.left-bar {
    flex: 1;
    padding: 20px;
    background-color: #f44174;
}

.left-bar h1 {
    color: #ffffff;
    margin-bottom: 20px;
}

.left-bar img {
    max-width: 90%;
    height: auto;
    margin-bottom: 20px;
}

.navigation {
    padding: 20px;
    position: sticky;
    top: 5%;
    background-color: #f9f9f9;
}

.navigation ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

.navigation ul li {
    margin-bottom: 10px;
}

.navigation ul li a {
    text-decoration: none;
    color: #333;
}

.main {
    flex: 5;
    padding: 20px;
}

.main li {
    margin-bottom: 20px;
}

.main img {
    max-width: 50%;
    height: auto;
    margin-bottom: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
}

.projects {
    padding: 20px;
    display: flex;
}

.column {
    padding: 20px;
}

.text-column {
    flex: 1;
}

.image-column {
    flex: 1;
    justify-content: center;
}

.image-column img {
    max-width: 100%;
    height: auto;
}

.right-bar {
    flex: 0.1;
    padding: 20px;
    background-color: #feecf1;
}

.right-bar h3 {
    color: #333;
    margin-bottom: 20px;
}

.links {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 20px;
    position: sticky;
    top: 40%;
    background-color: #f9f9f9;
}

.links li {
    margin-bottom: 20px;
    flex-direction: column;
    align-items: center;
}

.links a img {
    height: auto;
    width: 40px;
    display: block;
    margin-bottom: 10px;
    object-fit: contain;
}
